{% extends "base.twig" %}

{% set pagetitle = 'Author Profile: '~ author.name %}

{% block meta %}
	<meta property="og:type" content="profile"/>
	<meta property="og:description" content="{{ author.htmlBody|striptags }}"/>
	<meta property="profile:first_name" content="{{ author.firstName }}"/>
	<meta property="profile:last_name" content="{{ author.lastName }}"/>
	<meta property="og:url" content="https://refactor.zone/authors/{{ author.slug }}" />

	<meta name="twitter:card" content="summary" />
	{% if author.twitterUrl %}
		<meta name="twitter:creator" content="@{{ author.twitterUrl|replace({'https://twitter.com/': ''}) }}" />
	{% endif %}
	<meta name="twitter:description" content="{{ author.htmlBody }}" />
	{% if author.facebookUrl %}
		<meta name="fb:profile_id" content="{{ author.facebookUrl|replace({'https://facebook.com/': ''}) }}" />
	{% endif %}


	<meta property="og:image" content="https://refactor.zone{{ author.imageUrl }}" />
	<link rel="apple-touch-icon-precomposed" href="https://refactor.zone{{ author.imageUrl }}" />
	<link rel="alternate" type="application/rss+xml" href="/author/{{ author.slug }}/feed" />
{% endblock %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/author">
			<span itemprop="name">Authors</span></a>
		<meta itemprop="position" content="2" />
	</li>
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/author/{{ slug }}">
			<span itemprop="name">{{ author.name }}</span></a>
		<meta itemprop="position" content="3" />
	</li>
{% endblock %}

{% block content %}
	<div class="card">
		{{ meta.author(author, 1) }}
	</div>
	{{ meta.articleList(articles) }}
{% endblock %}
