{% import "meta.twig" as meta %}
<!DOCTYPE html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title>{% if pagetitle %}{{ pagetitle }} &mdash; {% endif %}Refactor Zone</title>
	<link href="{{ staticUrl('/css/site.min.css') }}" rel="stylesheet" />

	<meta property="og:locale" content="en_US" />
	<meta property="og:site_name" content="Refactor Zone" />
	<meta property="og:title" content="{{ pagetitle }}"/>
	<meta property="fb:admins" content="janoszen" />
	<meta property="fb:app_id" content="1780998928787657" />
	<meta property="fb:pages" content="307680759577091" />
{% block meta %}
	<meta property="og:type" content="website" />
	<meta property="og:image" content="{{ staticUrl('/images/social.png') }}" />
	<link rel="apple-touch-icon-precomposed" href="{{ staticUrl('/images/social.png') }}" />
	<meta name="twitter:card" content="summary_large_image" />
{% endblock %}
	<meta name="twitter:site" content="@refactorzone" />
	<meta name="twitter:title" content="{% if pagetitle %}{{ pagetitle }}{% else %}Refactor Zone{% endif %}" />

	<link rel="icon" href="{{ staticUrl('/images/social.png') }}" type="image/x-icon" />
	<link rel="shortcut icon" href="{{ staticUrl('/images/social.png') }}" type="image/x-icon"/>

	<link rel="alternate" type="application/rss+xml" title="Latest Articles &mdash; Refactor Zone" href="/feed" />

	<!--[if lt IE 9]>
		<script src="{{ staticUrl('/js/html5shiv.min.js') }}"></script>
		<script src="{{ staticUrl('/js/respond.min.js') }}"></script>
	<![endif]-->

	<link rel="copyright" href="https://refactor.zone/terms" />

	<meta http-equiv="cleartype" content="on" />
	<meta name="skype_toolbar" content="skype_toolbar_parser_compatible" />
	<meta name="msapplication-tap-highlight" content="no" />
	<meta name="application-name" content="Refactor Zone" />
	<meta name="msapplication-starturl" content="/" />
	<meta name="HandheldFriendly" content="true" />
	<meta name="theme-color" content="#63bc46" />
	<meta name="msapplication-navbutton-color" content="#63bc46" />
	<meta name="msapplication-TileColor" content="#63bc46" />
	<meta name="msapplication-TileImage" content="https://refactor.zone{{ staticUrl('/images/social.png') }}" />
	<meta name="format-detection" content="telephone=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
</head>
<body class="light">
	<header>
		<nav class="navbar navbar-secondary navbar-static-top">
			<div class="container">
				<ul class="nav navbar-nav">
					<li>
						<a href="/terms">Terms</a>
					</li>
					<li>
						<a href="/privacy">Privacy policy</a>
					</li>
					<li>
						<a href="/imprint">Imprint</a>
					</li>
					<li>
						<a href="/contact">Contact</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right navbar-social">
					<li>
						<a href="/feed" title="Subscribe to the Refactor Zone using your RSS reader"
						   target="_blank" rel="noopener noreferrer">
							<i class="fa fa-lg fa-rss-square text-rss" aria-label="RSS"></i>
						</a>
					</li>
					<li>
						<a href="https://www.facebook.com/refactorzone/" title="Like us on Facebook"
						   target="_blank" rel="noopener noreferrer">
							<i class="fa fa-lg fa-facebook-square text-facebook" aria-label="Facebook"></i>
						</a>
					</li>
					<li>
						<a href="https://twitter.com/refactorzone/" title="Follow us on Twitter"
						   target="_blank" rel="noopener noreferrer">
							<i class="fa fa-lg fa-twitter-square text-twitter" aria-label="Twitter"></i>
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">
						<img
								src="{{ staticUrl('/images/refactor-zone-logo.png') }}"
								srcset="{{ staticUrl('/images/refactor-zone-logo-2x.png') }} 2x"
								alt="Refactor Zone"
								height="60"
								width="216"
						/>
					</a>
				</div>
				<div id="navbar" class="navbar-right navbar-collapse collapse">
					<ul class="nav navbar-nav">
						{% for category in categories %}
							<li><a href="/category/{{ category.slug }}">{{ category.name }}</a></li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<ol itemscope="itemscope" itemtype="https://schema.org/BreadcrumbList" class="breadcrumb">
		<li itemprop="itemListElement" itemscope="itemscope"
			itemtype="https://schema.org/ListItem">
			<a itemprop="item" href="https://refactor.zone">
				<span itemprop="name">Refactor Zone</span></a>
			<meta itemprop="position" content="1" />
		</li>
		{% block breadcrumbs %}{% endblock %}
	</ol>
{% block body %}
	<div class="container main">
		<main role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>
{% endblock %}
	<div class="messenger-window">
		<div class="messenger-loading">
			<i class="fa fa-spin fa-cog"></i>
		</div>
		<div class="fb-page"
			 data-href="https://www.facebook.com/refactorzone/"
			 data-tabs="messages"
			 data-hide-cover="true"
			 data-width="350"
			 data-height="300"
			 data-small-header="true">
			<div class="fb-xfbml-parse-ignore">
				<blockquote></blockquote>
			</div>
		</div>
	</div>
	<div class="messenger">
		<div class="messenger-container">
			<div class="messenger-text-container">
				<span class="messenger-text">Have a question?</span>
			</div>
			<img src="{{ staticUrl('/images/facebook-messenger.svg')}}" height="32" width="32" class="messenger-icon" />
		</div>
	</div>
	<footer class="main">
		<div class="container">
			<div class="row">
				<div class="col-md-4" itemscope="itemscope" itemtype="https://schema.org/Organization">
					<meta itemprop="name" content="Opsbears">
					<meta itemprop="isicV4" content="6311">

					<meta itemprop="logo" content="https://www.opsbears.com/v1420052371/img/logo.png">
					<h2>Made with <i class="fa fa-heart text-red"></i> by</h2>
					<p>
						<i class="fa fa-fw fa-building"></i>
						<span itemprop="legalName">Opsbears e.U.</span>
					</p>
					<div itemprop="address" itemscope="itemscope" itemtype="https://schema.org/PostalAddress">
						<p>
							<i class="fa fa-fw fa-map-marker"></i> <span itemprop="streetAddress">Graf-Starhemberg-Gasse 47/6</span>
						</p>
						<p>
							<i class="fa fa-fw"></i>
							<span itemprop="postalCode">1040</span> <span itemprop="addressLocality">Vienna</span>,
							<span itemprop="addressCountry" content="AT">Austria</span>
						</p>
					</div>
					<p>
						<i class="fa fa-fw fa-phone"></i>
						Phone: <a href="tel:+4313535553" content="+4313535553" itemprop="telephone">+43 1 353 5553</a>
					</p>
					<p>
						<i class="fa fa-fw fa-envelope"></i>
						Email: <a href="mailto:ops&#64;opsbears.com" itemprop="email">ops&#64;opsbears.com</a>
					</p>
					<p>
						<i class="fa fa-fw fa-globe"></i>
						Web: <span itemprop="url" content="https://www.opsbears.com/">www.opsbears.com</span>
					</p>
				</div>
				<div class="col-md-4">

				</div>
				<div class="col-md-4">
					<h2>About this site</h2>
					<ul>
						<li>
							<a href="/terms">Terms</a>
						</li>
						<li>
							<a href="/privacy">Privacy policy</a>
						</li>
						<li>
							<a href="/imprint">Imprint</a>
						</li>
						<li>
							<a href="/contact">Contact</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</footer>
	<footer class="copyright">
		<div class="container">
			<div class="col-sm-2 hidden-xs"></div>
			<div class="col-sm-8 text-center">
				<p>
					Hey, if you want to copy this,
					<a href="/contact">why not ask first</a>?
				</p>
			</div>
			<div class="col-sm-2 text-right hidden-xs">
				<a href="#" class="btn btn-default">
					<i class="fa fa-chevron-up"></i>
					<span class="sr-only">Back to the top</span>
				</a>
			</div>
		</div>
	</footer>
	<footer class="cookieConsent">
		<div class="container">
			<button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<div class="text-muted">Guess what, this site is using cookies to learn something about our visitors. You
				can set your browsers Do-Not-Track function to disable this.
				<a href="/privacy">Read our privacy policy for details.</a></div>
		</div>
	</footer>
	<script async="async" src="{{ staticUrl('/js/site.min.js') }}"></script>
</body>
</html>
