{% macro author(author, level=2, amp=false) %}
<div class="author" itemprop="author" itemscope="itemscope" itemtype="https://schema.org/Person">
	<div class="row">
		<div class="col-xs-3 col-sm-3 col-md-2 col-lg-2">
			{% if amp %}
				<amp-img src="{{ staticUrl(author.imageUrl) }}" alt="" class="author-image"
					 itemprop="image"></amp-img>
			{% else %}
				<img src="{{ staticUrl(author.imageUrl) }}" alt="" class="author-image"
					 itemprop="image" />
				{% endif %}
		</div>
		<div class="col-xs-9 col-sm-9 col-md-10 col-lg-10">
			<h{{ level }}>
				<span itemprop="name">{{ author.name }}</span>
				<span class="social">
						<a
							target="_blank" rel="noopener noreferrer"
							href="/author/{{ author.slug }}/feed"
							class="text-rss"
							title="Subscribe to {{ author.name }} using your RSS reader"><i
								class="fa fa-rss"></i></a>
					{% if author.url %}
						<a
								target="_blank" rel="noopener noreferrer"
								rel="author"
								href="{{ author.url }}"
								class="text-globe"
								itemprop="url"
								title="Visit {{ author.name }}s website"><i
									class="fa fa-globe"></i></a>
					{% endif %}
					{% if author.facebookUrl %}
						<a
								target="_blank" rel="noopener noreferrer"
								rel="author"
								href="{{ author.facebookUrl }}"
								class="text-facebook" itemprop="url"
								title="Follow {{ author.name }} on Facebook"><i
									class="fa fa-facebook-square"></i></a>
					{% endif %}
					{% if author.twitterUrl %}
						<a
								target="_blank" rel="noopener noreferrer"
								rel="author"
								href="{{ author.twitterUrl }}"
								class="text-twitter" itemprop="url"
								title="Follow {{ author.name }} on Twitter"><i
									class="fa fa-twitter-square"></i></a>
					{% endif %}
					{% if author.gplusUrl %}
						<a
								target="_blank" rel="noopener noreferrer"
								rel="author"
								href="{{ author.gplusUrl }}"
								class="text-gplus" itemprop="url"
								title="Follow {{ author.name }} on Google+"><i
									class="fa fa-google-plus-square"></i></a>
					{% endif %}
										</span>
			</h{{ level }}>
			<div itemprop="description">
				{{ author.htmlBody|raw }}
			</div>
		</div>
	</div>
</div>
{% endmacro %}

{% macro publisher() %}
<span itemprop="publisher" itemscope="itemscope" itemtype="https://schema.org/Organization">
	<meta itemprop="name" content="Opsbears" />
	<meta itemprop="isicV4" content="6311">
	<span itemprop="logo" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
		<meta itemprop="url" content="https://www.opsbears.com/v1420052371/img/logo.png" />
		<meta itemprop="width" content="300" />
		<meta itemprop="height" content="60" />
	</span>
	<span itemprop="brand" itemscope="itemscope" itemtype="https://schema.org/Brand">
		<meta itemprop="name" content="Refactor Zone" />
		<meta itemprop="url" content="https://refactor.zone/" />
		<span itemprop="logo" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
			<meta itemprop="url" content="https://refactor.zone/images/social.png" />
			<meta itemprop="width" content="256" />
			<meta itemprop="height" content="256" />
		</span>
	</span>
</span>
{% endmacro %}

{% macro articleList(articles) %}
<div class="articlegrid" itemscope="itemscope" itemtype="https://schema.org/ItemList">
	<div class="row">
		{% for article in articles %}
			<article class="col-lg-4 col-md-4 col-sm-6"
					 itemprop="itemListElement" itemscope="itemscope"
					 itemtype="https://schema.org/TechArticle">
				<div class="card">
					<a href="/{{ article.slug }}">
						<img src="{{ staticUrl(article.decor) }}"
						     srcset="{{ staticUrl(article.decor) }} 1x, {{ staticUrl(article.decor2x) }} 2x" /></a>
					<div class="annotation">
						<h2 itemprop="name"><a itemprop="url" href="/{{ article.slug }}"><span itemprop="headline">
								{% if article.series %}{{ article.series.name }}: {% endif %}{{ article.title }}
							</span></a></h2>
						<div class="author-meta" itemprop="author" itemscope="itemscope"
							 itemtype="https://schema.org/Person">
							by <a href="/author/{{ article.author.slug }}" itemprop="url">
								<span itemprop="name">{{article.author.name}}</a>
							</div>
						<p>{{ article.excerpt }}</p>
						<a href="/{{ article.slug }}" class="btn btn-primary">
							Read article
							<i class="fa fa-angle-double-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
				{{ _self.publisher() }}
				<span itemprop="image" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
					<meta itemprop="url" content="https://refactor.zone{{ article.socialImage }}" />
					<meta itemprop="width" content="1200" />
					<meta itemprop="height" content="630" />
				</span>
				<meta itemprop="datePublished" content="{{ article.published.format('Y-m-d') }}" />
				<meta itemprop="dateModified" content="{{ article.modified.format('Y-m-d') }}" />
				<meta itemprop="mainEntityOfPage" content="https://refactor.zone/{{ article.slug }}" />
			</article>
		{% endfor %}
	</div>
</div>
{% endmacro %}

{% macro rss(self, title, alternate, description, articles) %}
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet type="text/css" href="/css/rss.min.css" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">
	<title>{{ title }}</title>
	<icon>https://refactor.zone/images/social.png</icon>
	<link type="text/html" href="{{ alternate }}" rel="alternate"/>
	<id>{{ self }}</id>
{% spaceless %}
	{% set updated = null %}
	{% set updatedTimestamp = 0 %}
	{% for article in articles %}
		{% if article.modified.timestamp > updatedTimestamp %}
			{% set updated = article.modified %}
			{% set updatedTimestamp = article.modified.timestamp %}
		{% endif %}
	{% endfor %}
{% endspaceless %}
{% if updated %}
	<updated>{{ updated.format('c') }}</updated>
{% endif %}

	{% for article in articles %}
	<entry>
		<title>{{ article.fullTitle }}</title>
		<link href="https://refactor.zone/{{ article.slug }}"/>
		<id>https://refactor.zone/{{ article.slug }}</id>
		<published>{{ article.published.format('c') }}</published>
		<updated>{{ article.modified.format('c') }}</updated>
		<summary>{{ article.excerpt }}</summary>
		<author>
			<name>{{ article.author.name }}</name>
			<uri>https://refactor.zone/author/{{ article.author.slug }}</uri>
		</author>
		{% for category in article.categories %}
			<category term="{{ category.slug }}" label="{{ category.name }}" />
		{% endfor %}
		<content type="html">
			{{ article.htmlBody|replace({'<h3':'<h2', '</h3':'</h2'})|raw }}
		</content>
	</entry>
	{% endfor %}
</feed>
{% endmacro %}


{% macro instantrss(self, title, link, description, articles, articleRecommendedArticles) %}{% spaceless %}
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom"
	 xmlns:content="http://purl.org/rss/1.0/modules/content/">
	<channel>
		<title>{{ title }}</title>
		<link>{{ link }}</link>
		<atom:link href="{{ self }}" rel="self" type="application/rss+xml" />
		<description>{{ description }}</description>
		{% for article in articles %}
			{% set recommendedArticles = articleRecommendedArticles[article.slug] %}
			<item>
				<title>{{ article.fullTitle }}</title>
				<author>{{ article.author.name }}</author>
				<link>https://refactor.zone/{{ article.slug }}</link>
				<guid>https://refactor.zone/{{ article.slug }}</guid>
				<pubDate>{{ article.published.format('r') }}</pubDate>
				<description>{{ article.excerpt }}</description>
				<content:encoded><![CDATA[
					{% include "ArticleController/instantArticleAction.twig" %}
					]]></content:encoded>
			</item>
		{% endfor %}
	</channel>
</rss>
{% endspaceless %}{% endmacro %}