{% extends "base.twig" %}

{% set pagetitle = article.fullTitle %}
{% set meta = {
author: article.author.name
} %}

{% block meta %}
	<meta property="og:type" content="article"/>
	<meta property="og:description" content="{{ article.excerpt }}"/>
	<meta property="article:published_time" content="{{ article.published.format('Y-m-d') }}"/>
{% if article.author.facebookUrl %}
	<meta property="article:author" content="{{ article.author.facebookUrl }}"/>
{% endif %}
	<meta property="article:publisher" content="https://www.facebook.com/refactorzone"/>
{% for category in article.categories %}
	<meta property="article:tag" content="{{ category.name }}"/>
{% endfor %}
	<meta property="og:url" content="https://refactor.zone/{{ article.slug }}" />

	<meta name="twitter:card" content="summary_large_image" />
{% if article.author.twitterUrl %}
	<meta name="twitter:creator" content="@{{ article.author.twitterUrl|replace({'https://twitter.com/': ''}) }}" />
{% endif %}
	<meta name="twitter:description" content="{{ article.excerpt }}" />

	<meta property="og:image" content="https://refactor.zone{{ staticUrl(article.socialImage) }}" />
	<link rel="apple-touch-icon-precomposed" href="https://refactor.zone{{ staticUrl(article.socialImage) }}" />
{% endblock %}

{% block breadcrumbs %}
	<li itemprop="itemListElement" itemscope="itemscope"
		itemtype="https://schema.org/ListItem">
		<a itemprop="item" href="https://refactor.zone/{{ article.slug }}">
			<span itemprop="name">{{ article.fullTitle }}</span></a>
		<meta itemprop="position" content="2" />
	</li>
{% endblock %}

{% block content %}
	<div class="row">
		<div class="col-xl-6 col-lg-10 col-md-10 col-sm-12 col-xs-12 col-lg-push-1 col-md-push-1">
			<article itemscope="itemscope" itemtype="https://schema.org/TechArticle">
				<div class="card article">
					<header>
						<h1 itemprop="name"><span itemprop="headline">
								{% if article.series %}{{ article.series.name }} &mdash; {% endif %}
								{{ article.title }}
							</span>
							{% if article.subtitle %}
								<span itemprop="alternativeHeadline" class="subtitle">{{ article.subtitle }}</span>
							{% endif %}
						</h1>
						<span>
							by
							<a href="/author/{{ article.author.slug }}">{{ article.author.name }}</a>
						</span>
						{% if article.published.timestamp > 0 %}
						‧
						<time itemprop="datePublished" datetime="{{ article.published.format('Y-m-d') }}">
							{{ article.published.format('F j, Y') }}
						</time>
						{% endif %}

						{{ meta.publisher() }}
						<span itemprop="image" itemscope="itemscope" itemtype="https://schema.org/ImageObject">
							<meta itemprop="url" content="https://refactor.zone{{ article.socialImage }}" />
							<meta itemprop="width" content="1200" />
							<meta itemprop="height" content="630" />
						</span>
						<meta itemprop="dateModified" content="{{ article.modified.format('Y-m-d') }}" />
						<meta itemprop="mainEntityOfPage" content="https://refactor.zone/{{ article.slug }}" />
					</header>

					<div itemprop="articleBody" class="articleBody">
						{{ article.htmlBody|raw }}
					</div>
				</div>
				<div class="card meta">
					<footer>
						{{ meta.author(article.author) }}
					</footer>
				</div>
			</article>
			<form action="https://newsletter.opsbears.com/subscribe" method="POST" accept-charset="utf-8" class="newsletter">
				<div class="newsletter-content-wrapper">
					<div class="newsletter-body">
						<h1>Iratkozz fel, hogy ne maradj le semmiről!</h1>
						<h2>Ha egy új cikk jelenik meg nálunk, akkor értesíteni fogunk Téged.</h2>
					</div>
                    <div class="newsletter-icon">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
				</div>
				<div class="newsletter-form-wrapper">
					<div class="newsletter-input newsletter-input-name">
						<input type="text" name="name" placeholder="Name" id="name" required />
					</div>
					<div class="newsletter-input newsletter-input-email">
						<input type="email" name="email" placeholder="Email address" id="email" required />
					</div>
					<div class="newsletter-input newsletter-input-submit">
						<input type="hidden" name="list" value="qR0wI4BJP0SsP5nzzGRr3Q"/>
						<input type="submit" name="submit" id="submit" value="Subscribe" />
					</div>
				</div>
			</form>
			<div class="share card">
				<div>
					Did you like this article? Please <em>share it with your friends</em>, it helps us a
					lot!
				</div>
				<div>
					{% spaceless %}
					<a title="Share on Facebook"
					   target="_blank" rel="noopener noreferrer"
					   href="https://www.facebook.com/dialog/share?href=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;app_id=1780998928787657&amp;display=page&amp;redirect_uri=https://refactor.zone/"
					   class="text-facebook"><i
								class="fa fa-facebook-square"></i><span class="sr-only">
										Share on Facebook
								</span></a>
					<a title="Share on Facebook"
					   target="_blank" rel="noopener noreferrer"
					   href="https://www.facebook.com/dialog/send?link=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;app_id=1780998928787657&amp;redirect_uri=https://refactor.zone/" class="text-messenger">
						<img src="{{ staticUrl('/images/facebook-messenger.svg') }}" height="36" width="36" />
						<span class="sr-only">
										Send with Messenger
								</span></a>
					<a title="Share on Twitter"
					   target="_blank" rel="noopener noreferrer"
					   href="https://twitter.com/intent/tweet?source=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;via=refactorzone&text={{ article.fullTitle|truncate(80, true, '…')|url_encode }}{%
					   if article.author.twitterUrl
					   %}%20by%20%40{{
					   article.author.twitterUrl|replace({'https://twitter.com/':''})|url_encode
					   }}&amp;related={{
					   article.author.twitterUrl|replace({'https://twitter.com/':''})|url_encode
					   }}{% endif %}"
					   class="text-twitter"><i
								class="fa fa-twitter-square"></i><span class="sr-only">
										Share on Twitter
								</span></a>

					<a title="Share on Google+"
					   target="_blank" rel="noopener noreferrer"
					   href="https://plus.google.com/share?url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;hl=en" class="text-gplus"><i
								class="fa fa-google-plus-square"></i><span class="sr-only">
										Share on Google+
								</span></a>

					<a title="Share on Tumblr"
					   target="_blank" rel="noopener noreferrer"
					   href="https://tumblr.com/widgets/share/tool?canonicalUrl=https://refactor.zone/{{
					   article.slug|url_encode
					   }}" class="text-tumblr"><i
								class="fa fa-tumblr-square"></i><span class="sr-only">
										Share on Tumblr
								</span></a>

					<a title="Share on Reddit"
					   target="_blank" rel="noopener noreferrer"
					   href="https://www.reddit.com/submit?url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;title={{ article.fullTitle }}" class="text-reddit"><i
								class="fa fa-reddit-square"></i><span class="sr-only">
										Share on Reddit
								</span></a>

					<a title="Share on Linkedin"
					   target="_blank" rel="noopener noreferrer"
					   href="https://www.linkedin.com/shareArticle?mini=true&url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}" class="text-linkedin"><i
								class="fa fa-linkedin-square"></i><span class="sr-only">
										Share on Linkedin
								</span></a>

					<a title="Submit to Stumbleupon"
					   target="_blank" rel="noopener noreferrer"
					   href="http://www.stumbleupon.com/submit?url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}" class="text-stumbleupon"><i
								class="fa fa-stumbleupon-circle"></i><span class="sr-only">
									Submit to Stumbleupon
								</span></a>
						<a title="Save on GetPocket"
						   target="_blank" rel="noopener noreferrer"
						   href="https://getpocket.com/edit?url=https://refactor.zone/{{
						   article.slug|url_encode
						   }}" class="text-getpocket"><i
									class="fa fa-get-pocket"></i><span class="sr-only">
									Save on GetPocket
								</span></a>
					<a title="Share on VKontakte"
					   target="_blank" rel="noopener noreferrer"
					   href="http://vk.com/share.php?url=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;title={{ article.fullTitle }}" class="text-vkontakte"><i
								class="fa fa-vk"></i><span class="sr-only">
									Share on VKontakte
								</span></a>
					<a title="Share on Wordpress"
					   target="_blank" rel="noopener noreferrer"
					   href="http://wordpress.com/press-this.php?u=https://refactor.zone/{{
					   article.slug|url_encode
					   }}&amp;title={{ article.fullTitle }}" class="text-wordpress"><i
								class="fa fa-wordpress"></i><span class="sr-only">
										Share on Wordpress
								</span></a>
					{% endspaceless %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}